.emtity__block {
  box-sizing: border-box;
  border-radius: 24px;
  width: 1250px;
  height: 219px;
  box-shadow: 16px 4px 64px 0px rgba(18, 61, 101, 0.2),
    inset -8px -6px 80px 0px rgba(255, 255, 255, 0.18);
  background: linear-gradient(
    199.07deg,
    rgb(235, 242, 249) 19.366%,
    rgb(198, 215, 235) 90.51%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
