@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
